# Project exclude paths
/target/
/src/main/java/META-INF/MANIFEST.MF
/desktop.ini
/pom.xml
/src/main/java/ru/geekbrains/AntonovDV/algorithms/lesson5/заметки.txt
/src/main/java/ru/geekbrains/AntonovDV/java3/lesson3/заметки.txt
/src/main/java/ru/geekbrains/AntonovDV/myexperiments/netty/test1/SimpleProcessingHandler.java
